matplotlib>=3.10.7
accelerate>=1.11.0
huggingface_hub[hf_xet]>=0.36.0
datasets>=4.3.0
transformers>=4.57.1
pandas>=2.3.3
scikit-learn>=1.7.2
openpyxl>=3.1.5

--extra-index-url https://download.pytorch.org/whl/cu130
torch>=2.9.0


